@charset "utf-8";

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
}

img {
    vertical-align: bottom;
}

/* helper ----------------------------- */

.container {
    max-width: 1200px;
    box-sizing: border-box;
}

.container-md {
    max-width: 800px;
    box-sizing: border-box;
}

/* .container, .container-md {
    box-sizing: border-box;
} */

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* header ----------------------------- */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
}

.header-head, .header-body, .header-foot {
    padding: .5rem 1rem;
    box-sizing: border-box;
}

.header-head {
    width: 80px;
    /* background-color: pink; */
}

.header-img {
    max-width: 100%;
    height: auto;
}

.header-btn-xmark, .header-foot {
    display: none;
}

.header-ul {
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    padding: .5rem 1rem;
    border-radius: 30px;
}

.header-li {
    margin-right: 1rem;
    margin-left: 1rem;
    /* padding-left: 1rem;
    padding-right: 1rem; */
}

.header-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9rem;
    transition-duration: .3s;
}

.header-link:hover {
    color: #cf7688;
}

/* banner ----------------------------- */

.banner {
    background-image: linear-gradient(135deg, #cf7688 20%, #f5ba54 100%);
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.banner-container {
    display: flex;
    align-items: center;
}

.banner-head, .banner-body {
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

.banner-title {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.banner-title-line {
    position: relative;
}

.banner-title-line::after {
    content: "";
    position: absolute;
    border-top: solid 4px rgba(255, 255, 255, 0.493);
    width: 1.5em;
    bottom: -1rem;
    left: 0;

}

.banner-small {
    display: block;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: .5rem;
}

.banner-subTitle {
    font-size: 1.75rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    /* opacity: 0.7; 會跟之後的動畫改透明度衝突*/
    color: rgba(255, 255, 255, 0.7);
}

.banner-ul {
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    /* opacity: 0.3; 會跟之後的動畫改透明度衝突 */
    color: rgba(255, 255, 255, 0.3);
    margin-bottom: 4rem;
}

.banner-ul-order1 {
    order: -1;
}

.banner-li + .banner-li {
    margin-left: 1rem;
    position: relative;
}

.banner-li + .banner-li::before {
    content: "";
    /* display: inline-block; position: absolute 會自動轉成block*/
    width: 4px;
    height: 4px;
    /* border-radius: 100px; */
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: .4rem;
    left: -.6rem;
}

.banner-desc {
    line-height: 1.6;
}

.banner-desc + .banner-desc {
    margin-top: 1rem;
}

.banner-desc-lg {
    font-size: 1.5rem;
    line-height: 1.3;
}

.banner-btns {
    margin-top: 2rem;
}

.banner-btn {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #fff;
    display: inline-block;
    text-align: center;
    /* line-height: 4; */
    padding: 1rem 3rem;
    border-radius: 5px;
    transition-duration: .3s;
}

.banner-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.banner-img {
    max-width: 100%;
    height: auto;
}

.banner-img-fit {
    height: 400px;
    object-fit: cover;
}

.banner-img-mobile, .banner-img-pad {
    position: absolute;
}

.banner-img-desktop {
    margin-left: 4.5rem;
}

.banner-img-mobile {
    left: 0rem;
    bottom: 5rem;
    z-index: 2;
}

.banner-img-pad {
    right: 1rem;
    bottom: -2rem;
}

.banner-index .banner-head {
    width: 40%;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
}

.banner-index .banner-body {
    position: relative;
    width: 60%;
    /* background-color: crimson; */
}

.banner-index .banner-head, .banner-index .banner-body {
    padding-top: 3rem;
    /* 老師用上一句 */
    /* margin-top: 3rem; 可以跟老師的Demo比較 margin陷阱*/
}

.banner-service .banner-img-fit {
    object-position: 0 -244px;
}

.banner-about .banner-img-fit {
    object-position: 0 -194px;
}


/* footer ----------------------------- */

.footer {
    background-color: #666;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 7rem 1rem 1rem;
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
}

.footer-logo {
    max-width: 40px;
    height: auto;
    margin-bottom: .5rem;
}

.footer-desc {
    font-size: .9rem;
    color: #fff;
    text-transform: uppercase;
}

.footer-ul {
    display: flex;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: .9rem;
    text-transform: uppercase;
    transition-duration: .3s;
}

.footer-li {
    margin-left: 1rem;
}


.footer-link:hover {
    color: #cf7688;
}

/* aside ----------------------------- */

.aside {
    position: fixed;
    right: 1rem;
    bottom: 15rem;
    z-index: 10;
}

.aside-link {
    color: rgba(0, 0, 0, 0.2);
    transition-duration: .3s;
}

.aside-link:hover {
    color: rgba(0, 0, 0, 0.5);
}

.aside-link-top {
    font-size: 3rem;
}

/* animation -------------------------------------------- */
/* 全站共用就放all.css，某頁面單用就放xxx.css */

.ani-move-downToUp, .ani-move-fadeIn-leftToRight {
    animation-fill-mode: forwards;
}

.ani-move-downToUp {
    transform: translateY(120%); 
    /* 註解上一行蠻好笑的 */
    animation-name: moveDownToUp;
    animation-duration: .5s;
}

@keyframes moveDownToUp {
    /* from {
        transform: translateY(120%);
    } */
    /* 可省 */
    to {
        transform: translateY(0);
    }
}

.ani-move-fadeIn-leftToRight {
    transform: translateX(-100%); 
    /* 註解上一行蠻好笑的 */
    opacity: 0;
    /* 可以註解上一行試試，上課時有遇到問題，可想想 */
    animation-name: fadeInLeftToRight;
    animation-duration: 1s;
}

@keyframes fadeInLeftToRight {
    /* from {
        transform: translateX(-100%);
        opacity: 0;
    } */
    /* 可省 */
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.ani-delay-1 {animation-delay: 0.3s;}
.ani-delay-2 {animation-delay: 0.6s;}
.ani-delay-3 {animation-delay: 0.9s;}
.ani-delay-4 {animation-delay: 1.0s;}
.ani-delay-5 {animation-delay: 1.2s;}
.ani-delay-6 {animation-delay: 1.3s;}
.ani-delay-7 {animation-delay: 1.4s;}

/* Mediaquery -------------------------------------------- */

@media screen and (max-width: 480px) {
    .header  {
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        /* position: fixed; */
    }

    .header-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-ul {
        flex-direction: column;
        background-color: transparent;
    }


}