@charset "utf-8";

/* process ----------------------------- */
.process-item {
    display: flex;
}

.process-item:hover .process-head {
    background-color: #cf7688;
}

.process-item + .process-item {
    margin-top: 2rem;
}

.process-head {
    width: 30%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .3s;
}

.process-name {
    color: rgba(255, 255, 255, 0.7);
}

.process-cht, .process-en {
    display: block;
}

.process-cht {
    font-size: 2.5rem;
}

.process-en {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: .5rem;
}

.process-body {
    width: 70%;
    background-color: #fff;
}

.process-ol {
    list-style-type: decimal;
    list-style-position: inside;
    display: flex;
    flex-wrap: wrap;
}

.process-li {
    width: 50%;
    padding: 2rem;
    box-sizing: border-box;
}

.process-li:nth-child(n + 3) {
    padding-top: 0rem;
}

.process-li::marker {
    color: #cf7688;
    font-size: 1.25rem;
}

.process-title {
    color: #cf7688;
    font-size: 1.25rem;
    font-weight: 600;
    display: inline;
}

.process-desc {
    margin-top: .5rem;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.5;
}

/* Mediaquery -------------------------------------------- */
@media screen and (max-width: 480px) {

    /* process ----------------------------- */
    .process-item, .process-ol {
        flex-direction: column;
    }

    .process-head, .process-body, .process-li {
        /* width: 100%;
        box-sizing: border-box; */
        /* 上下效果一樣 */
        width: auto;
    }

    .process-head {
        padding: 1rem;
    }

    .process-li {
        /* padding: 1rem; */

        padding: 0;
        margin: 1rem;
    }

    /* .process-li + .process-li {
        padding-top: 0;
    } */
    /* 以上註解區塊為一組，同開同關，且須關閉類似效果 */

    .process-name {
        text-align: center;
    }
}










































